.effect {
  width: 396px;
  &:hover, &:active {
    padding: 0 10px;
    margin-right: 5px;
  }
  .volume-wrapper {
    &.right {
      left: auto;
      position: absolute;
      right: 0;
    }
  }
  .content {
    background: $secondary;
    padding: 0;
    position: relative;
    overflow: hidden;
    height: 183px;
    .left {
      margin: 0 0 0 14px;
      float: left;
      width: 88px;
    }
    @import 'knob';
    .display-section {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 115px;
      right: 0;
      > div {
        background: $main;
        height: 100%;
        float: left;
      }
      .meter {
        width: 12px;
        float: right;
        &:last-of-type {
        }
      }
      .display {
        position: relative;
        height: 100%;
        width: 257px;
        .indicator {
          position: absolute;
          left: 0;
          right: 0;
          height: 1px;
          background: #12e6ba;
        }
        canvas {
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
    .eq-panel {
      display: none;
    }
    .eq-display {
      position: absolute;
      top: 18px;
      left: 0;
      right: 0;
      bottom: 0;
      background: $main;
      canvas {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
      }
      .control {
        $control-diameter: 4px;
        $control-padding: 10px;
        position: absolute;
        padding: $control-padding;
        margin-top: -($control-padding + $control-diameter / 2);
        margin-left: -($control-padding + $control-diameter / 2);
        &::before {
          content: '';
          border-radius: 420px;
          display: block;
          background: #12e6ba;
          width: $control-diameter;
          height: $control-diameter;
        }
        .text {
          display: none;
        }
        &:hover, &:active {
          .text {
            display: block;
            text-align: center;
            position: absolute;
            font-size: 10px;
            top: -14px;
            left: -20px;
            right: -20px;
            &:last-of-type, &.low {
              top: auto;
              bottom: -14px;
            }
            &.low {
              bottom: -24px;
            }
            &.high {
              bottom: auto;
              top: -24px;
            }
            &.left {
              text-align: right;
              margin-left: -60px;
            }
            &.right {
              text-align: left;
              margin-left: 36px;
              right: -40px;
            }
          }
        }
      }
    }
  }
}