.knob {
  $knob-diameter: 34px;
  $bar-width: 3px;
  position: relative;
  display: inline-block;
  margin: 16px 5px 8px 5px;
  width: $knob-diameter;
  height: $knob-diameter;
  border-radius: 50%;
  .label {
    position: relative;
    top: $knob-diameter + 2px;
    bottom: -10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 9px;
  }
  .unit-label {
    display: none;
  }
  &:hover, &:active {
    .unit-label:not(:hover) {
      $width: 90px;
      $height: 38px;
      font-size: 16px;
      line-height: 2.3;
      z-index: 2;
      display: block;
      position: absolute;
      width: $width;
      height: $height;
      text-align: center;
      background: $third;
      color: #fff;
      border-radius: 2px;
      top: -3px;
      &.left {
        left: -($width + 3);
      }
      &.right {
        right: -($width + 3);
      }
    }
  }
  &::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    top: $bar-width;
    left: $bar-width;
    width: $knob-diameter - 2 * $bar-width;
    height: $knob-diameter - 2 * $bar-width; 
    background: $main;
  }
}

$track-color: $third; /*#1C2D48;*/
$step: 1;
$loops: 100;
$increment: 270 / $loops;
$half: round($loops / 2);
@for $i from 0 through $loops {
  .progress-#{$i * $step} {
    @if $i < 67 {
      $nextdeg: -45deg + $increment * $i;
      background-image: linear-gradient(-45deg, $track-color 50%, transparent 50%, transparent), linear-gradient($nextdeg, #12e6ba 50%, $track-color 50%, $track-color);
    }
    @else {
      $nextdeg: 90deg + $increment * ($i - $half);
      background-image: linear-gradient($nextdeg, #12e6ba 50%, transparent 50%, transparent), linear-gradient(134.5deg, #12e6ba 50%, $track-color 50%, $track-color);
    }
  }
}