@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$header-background: #fff;
$border-color: #ebebf4;
$button-color: #fff;
$light-text: #666;

$background: #1e2944;
$main: #17233a;
$secondary: #334165;
$third: #263556;
$light-grey: #676794;
$lighter-grey: #8f98b9;

$shadow-color: #0b1e30;
$text-color: #dce4f3;
$main-gradient: linear-gradient(to right, #12e6ba, #3047d2);
$reverse-gradient: linear-gradient(to right, #3047d2, #12e6ba);

$song-position-height: 12px;

html, body {
  user-select: none;
  background: $background;
  color: #fff;
  font: 19px 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  margin: auto;
  padding: 0 0 40px 0;
}

main {
  margin: auto;
  padding: 0 18px;
  max-width: 1100px;
}

.sidebar {
  background: $main;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 80px 0 32px;
  li {
    font-size: 20px;
    padding: 8px 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 3px;
}

.selected {
  background: #f13232;
  color: #fff;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.dot-separator {
  display: inline;
  margin: 0 5px;
  &:before {
    content: '·';
  }
}

button {
  cursor: pointer;
}

input, textarea {
  display: block;
}

label {
  input {
    display: inline;
  }
}

button, input:not([type="file"]), textarea, select {
  font: inherit;
  box-sizing: border-box;
  font-size: 13px;
  margin: 14px 0;
  padding: 10px;
  outline: none;
  background: $button-color;
  border-radius: 3px;
  border: 1px solid $border-color - rgb(20,20,20);
  color: #b0b0ca - rgb(20,20,20);
  width: 100%;
  &:hover {
    color: #b0b0ca - rgb(30,30,30);
    border-color: $border-color - rgb(30,30,30);
  }
  &:focus:not(button) {
    color: $light-text;
    border-color: $border-color - rgb(50,50,50);
  }
}

header {
  margin: 24px 0;
  .song-position {
    height: $song-position-height;
    padding: 4px;
    .bar {
      background: $secondary;
      box-shadow: 0 0 8px $shadow-color;
      position: relative;
      border-radius: 2px;
      overflow: hidden;
      &, .position {
        height: $song-position-height;
      }
      .position {
        border-radius: 2px;
        background: $light-grey;
        background: $reverse-gradient;
        width: 400px;
      }
    }
    &:hover {
      .bar, .position {
        height: $song-position-height + 4px;
      }
      .position {
        background: $lighter-grey;
        background: $reverse-gradient;
      }
      .bar {
        top: -2px;
      }
    }
  }
}

.modules {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .wrapper {
    &.hidden {
      visibility: hidden;
      overflow: hidden;
      height: 0;
    }
    canvas {
      display: none;
    }
    &.open {
      position: relative;
      width: 100%;
      .playlist {
        box-shadow: 0 0 8px $shadow-color;
        position: absolute;
        border-radius: 4px;
        margin: 12px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: $secondary;
        .wrapper {
          position: absolute;
          overflow-x: scroll;
          overflow-y: hidden;
          height: 100%;
          left: 190px;
          right: 0;
          canvas {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
      .module {
        float: left;
      }
    }
  }
  .module, .create {
    cursor: default;
    margin: 12px;
    text-align: center;
    color: $text-color;
    background: $third;
    box-shadow: 0 0 8px $shadow-color;
    border-radius: 4px;
    padding-left: 3px;
    position: relative;
    h1 {
      font-size: .9em;
      margin: 0 0 10px 0;
      min-height: 21px;
    }
    .volume {
      position: absolute;
      left: 0;
      right: 4px;
      bottom: 0;
      background: $main-gradient;
      height: 85%;
      border-radius: 4px;
      z-index: 0;
    }
    .square {
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      background: $secondary;
      height: 184px;
      width: 184px;
      padding-top: 12px;
      .effects {
        > div {
          position: relative;
          display: inline-block;
        }
        .slot {
          font-size: 0.6em;
          padding: 8px;
          margin: 3px;
          margin-bottom: 0;
          width: 19px;
          height: 19px;
          border-radius: 2px;
          background: $main;
          float: left;
          &:hover {
            transform: scale(1.02);
          }
        }
        .menu {
          position: absolute;
          z-index: 3;
          box-shadow: 0 0 8px $shadow-color;
          top: 36px;
          left: 0px;
          ul {
            overflow: hidden;
            background: $main;
            border-radius: 3px;
            text-align: left;
            border-bottom: none;
            li {
              font-size: 14px;
              font-weight: bold;
              padding: 18px 36px 18px 30px;
              &:hover {
                background: #1b2840;
              }
            }
          }
        }
      }
      .panel {
        position: absolute;
        bottom: -1px;
        left: 0;
        right: 0;
        background: $third;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        height: 48px;
        overflow: hidden;
        > div {
          position: relative;
          box-sizing: border-box;
          height: 100%;
          padding: 16px;
          font-size: 13px;
          float: left;
          width: 61px;
          label {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            input[type="file"] {
              display: none;
            }
          }
          &:hover {
            background: #2b3b5e;
          }
        }
      }
    }
    &:hover {
      z-index: 3;
      transform: scale(1.02);
      padding-left: 10px;
      margin-left:  5px;
      .volume {
        border-radius: 2px 4px 4px 4px;
        background: $lighter-grey;
        background: $main-gradient;
      }
    }
  }
  .create {
    background: $main;
    font-size: 3em;
    color: $main;
    &::before {
      content: '+';
      background: $secondary;
      background: $main-gradient;
      box-sizing: border-box;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      height: 184px;
      width: 184px;
      padding-top: 53px;
    }
  }
}