@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$header-background: #fff;
$border-color: #ebebf4;
$button-color: #fff;
$light-text: #666;

$dark-green: #0dc1a0;
$background: #151e31;
$main: #17233a;
$secondary: #313e61;
$third: #263556;
$light-grey: #676794;
$lighter-grey: #8f98b9;

$shadow-color: #0b1e30;
$panel-text-color: #e0e6f1;
$main-gradient: linear-gradient(to right, #12e6ba, #3047d2);
$reverse-gradient: linear-gradient(to right, #3047d2, #12e6ba);

$song-position-height: 12px;

html, body {
  background: $background;
  color: #fff;
  font: 19px 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  margin: auto;
  padding: 0 0 40px 0;
}

main {
  margin: auto;
  padding: 0 18px;
  max-width: 1100px;
}

.sidebar {
  background: $main;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 80px 0 32px;
  li {
    font-size: 20px;
    padding: 8px 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 3px;
}

.selected {
  background: #f13232;
  color: #fff;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.dot-separator {
  display: inline;
  margin: 0 5px;
  &:before {
    content: '·';
  }
}

button {
  cursor: pointer;
}

input, textarea {
  display: block;
}

label {
  input {
    display: inline;
  }
}

button, input:not([type="file"]), textarea, select {
  font: inherit;
  box-sizing: border-box;
  font-size: 13px;
  margin: 14px 0;
  padding: 10px;
  outline: none;
  background: $button-color;
  border-radius: 3px;
  border: 1px solid $border-color - rgb(20,20,20);
  color: #b0b0ca - rgb(20,20,20);
  width: 100%;
  &:hover {
    color: #b0b0ca - rgb(30,30,30);
    border-color: $border-color - rgb(30,30,30);
  }
  &:focus:not(button) {
    color: $light-text;
    border-color: $border-color - rgb(50,50,50);
  }
}

header {
  font-size: 14px;
  font-weight: bold;
  padding: inherit;
  z-index: 4;
  background: $background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: inherit;
  .main {
    overflow: hidden;
    padding: 12px;
    margin-bottom: 10px;
    .left {
      float: left;
    }
    .center {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto; 
      .play {
        cursor: pointer;
        display: block;
        margin: auto;
        width: 16px;
        padding: 6px;
      }
    }
    .right {
      position: relative;
      z-index: 1;
      float: right;
      .button {
        text-transform: uppercase;
        height: 17px;
        cursor:  pointer;
        background: $dark-green;
        border-radius: 2px;
        padding: 5px 8px 6px 8px;
        box-shadow: 0 0 8px $shadow-color;
        text-shadow: 0 0 8px #a0a0a0;
        &:active {
          transform: scale(0.97);
        }
      }
    }
  }
  .song-position {
    padding: inherit;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $song-position-height;
    .bar {
      background: $secondary;
      box-shadow: 0 0 8px $shadow-color;
      position: relative;
      border-radius: 2px;
      overflow: hidden;
      &, .position {
        height: $song-position-height;
      }
      .position {
        border-radius: 2px;
        background: $light-grey;
        background: $reverse-gradient;
        width: 400px;
      }
    }
    &:hover {
      .bar, .position {
        height: $song-position-height + 4px;
      }
      .position {
        background: $lighter-grey;
        background: $reverse-gradient;
      }
      .bar {
        top: -2px;
      }
    }
  }
}

.meter {
  canvas {
    display: block !important;
    width: 100%;
    height: 100%;
  }
}

.modules {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 100px;
  .wrapper {
    &.hidden {
      visibility: hidden;
      margin-top: 1px;
      overflow: hidden;
      height: 0;
    }
    canvas {
      display: none;
    }
    &.open {
      position: relative;
      width: 100%;
      .playlist {
        background: $third;
        box-shadow: 0 0 8px $shadow-color;
        position: absolute;
        border-radius: 4px;
        margin: 12px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
        .wrapper {
          position: absolute;
          height: 100%;
          left: 192px;
          right: 0;
          canvas {
            display: block;
            width: 100%;
            height: 100%;
            &:nth-of-type(2) {
              position: absolute;
              top: 0;
            }
          }
          .scroll {
            position: absolute;
            overflow-x: scroll;
            overflow-y: hidden;
            bottom: 0;
            width: 100%;
            .widener {
              height: 1px;
            }
            &::-webkit-scrollbar {
              height: 16px;
            }
            &::-webkit-scrollbar-thumb {
              background-color: $secondary;
              border-radius: 2px;
            }
          }
        }
      }
      .module {
        float: left;
      }
    }
  }
  .module, .create, .effect {
    cursor: default;
    margin: 12px;
    text-align: center;
    background: $third;
    box-shadow: 0 0 8px $shadow-color;
    border-radius: 4px;
    padding: 0 3px;
    position: relative;
    h1, input, input:focus {
      max-width: 160px;
      overflow: hidden;
      white-space: nowrap;
      font-weight: bold;
      color: #fff;
      font-size: .9em;
      margin: 0 auto 10px auto;
      min-height: 22px;
    }
    input {
      text-align: center;
      background: none;
      border: none;
      padding: 0;
    }
    .volume-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      bottom: 0;
      .volume {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        background: #12e6ba;
        height: 100%;
        border-radius: 4px;
        z-index: 0;
      }
    }
    .tags {
      position: absolute;
      top: 12px;
      right: 0;
      padding: 4px 0 4px 20px;
      .tag {
        margin: 2px 0;
        height: 12px;
        width: 3px;
        border-radius: 1px;
        background: #fff;
        &:hover {
          border-right: 2px solid #fff;
          margin-right: -2px;
        }
      }
      &:hover {
        margin-right: -14px;
        .tag {
          width: 18px;
        }
      }
    }
    .square {
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      background: $secondary;
      height: 183px;
      width: 183px;
      padding-top: 12px;
      .meter {
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;
        &:nth-of-type(2) {
          left: 50%;
        }
      }
      .effects {
        line-height: .8;
        > div {
          position: relative;
          display: inline-block;
        }
        .slot {
          box-sizing: border-box;
          font-size: 0.6em;
          width: 183 / 4 - 4px;
          height: 183 / 4 - 4px;
          padding: 8px;
          margin: 1px 1px 0 1px;
          border-radius: 2px;
          background: $main;
          float: left;
          &:active {
            transform: scale(0.97);
          }
        }
        .menu {
          position: absolute;
          z-index: 3;
          box-shadow: 0 0 8px $shadow-color;
          top: 36px;
          left: 0px;
          ul {
            overflow: hidden;
            background: $main;
            border-radius: 3px;
            text-align: left;
            border-bottom: none;
            li {
              font-size: 14px;
              font-weight: bold;
              padding: 18px 36px 18px 30px;
              &:hover {
                background: #1b2840;
              }
            }
          }
        }
      }
      .panel {
        color: $panel-text-color;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;
        background: $third;
        border-bottom-left-radius: inherit;
        border-bottom-right-radius: inherit;
        height: 48px;
        overflow: hidden;
        > div {
          position: relative;
          box-sizing: border-box;
          height: 100%;
          padding: 16px;
          font-size: 13px;
          float: left;
          width: 61px;
          svg {
            width: 100%;
            height: 100%;
            line {
              stroke: $panel-text-color;
            }
          }
          .tag {
            background: #12e6ba;
            width: 6px;
            height: 6px;
            border-radius: 1px;
            margin: 6px auto;
            &.none {
              background: #fff;
              width: 2px;
              height: 2px;
              margin: 8px auto;
            }
          }
          label {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            input[type="file"] {
              display: none;
            }
          }
          &:hover {
            background: #2b3b5e;
          }
          &:active,&.pressed {
            background: #212f4e;
          }
        }
      }
      .circle {
        background: $main;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin: 38px auto 0 auto;
      }
    }
    &:hover:not(.create), &:active:not(.create) {
      z-index: 3;
      padding-left: 10px;
      margin-left:  5px;
      .volume {
        border-radius: 2px 2px 4px 4px;
      }
    }
  }
  .effect {
    width: 396px;
    &:hover {
      padding: 0 10px;
      margin-right: 5px;
    }
    .volume-wrapper {
      &.right {
        left: auto;
        position: absolute;
        right: 0;
      }
    }
    .content {
      background: $secondary;
      padding: 0;
      position: relative;
      overflow: hidden;
      height: 183px;
      .left {
        margin: 0 0 0 14px;
        float: left;
        width: 88px;
      }
      .knob {
        $knob-diameter: 34px;
        $bar-width: 3px;
        position: relative;
        display: inline-block;
        margin: 16px 5px 8px 5px;
        width: $knob-diameter;
        height: $knob-diameter;
        border-radius: 50%;
        .label {
          position: relative;
          top: $knob-diameter + 2px;
          bottom: -10px;
          text-align: center;
          text-transform: uppercase;
          font-size: 9px;
        }
        .unit-label {
          display: none;
        }
        &:hover, &:active {
          .unit-label:not(:hover) {
            $width: 90px;
            $height: 38px;
            font-size: 16px;
            line-height: 2.3;
            z-index: 2;
            display: block;
            position: absolute;
            width: $width;
            height: $height;
            text-align: center;
            background: $third;
            color: #fff;
            border-radius: 2px;
            top: -3px;
            &.left {
              left: -($width + 3);
            }
            &.right {
              right: -($width + 3);
            }
          }
        }
        &::before {
          content: '';
          position: absolute;
          border-radius: 50%;
          top: $bar-width;
          left: $bar-width;
          width: $knob-diameter - 2 * $bar-width;
          height: $knob-diameter - 2 * $bar-width; 
          background: $main;
        }
      }
      $track-color: $third; /*#1C2D48;*/
      $step: 1;
      $loops: 100;
      $increment: 270 / $loops;
      $half: round($loops / 2);
      @for $i from 0 through $loops {
        .progress-#{$i * $step} {
          @if $i < 67 {
            $nextdeg: -45deg + $increment * $i;
            background-image: linear-gradient(-45deg, $track-color 50%, transparent 50%, transparent), linear-gradient($nextdeg, #12e6ba 50%, $track-color 50%, $track-color);
          }
          @else {
            $nextdeg: 90deg + $increment * ($i - $half);
            background-image: linear-gradient($nextdeg, #12e6ba 50%, transparent 50%, transparent), linear-gradient(134.5deg, #12e6ba 50%, $track-color 50%, $track-color);
          }
        }
      }
      .display-section {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 115px;
        right: 0;
        > div {
          background: $main;
          height: 100%;
          float: left;
        }
        .meter {
          width: 12px;
          float: right;
          &:last-of-type {
          }
        }
        .display {
          position: relative;
          height: 100%;
          width: 257px;
          .indicator {
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            background: #12e6ba;
          }
          canvas {
            position: absolute;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .create {
    background: $main;
    font-size: 3em;
    color: $main;
    &:active {
      transform: scale(0.98);
    }
    &:hover {
    }
    &::before {
      content: '+';
      background: $main;
      color: #12e6ba;
      box-sizing: border-box;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      height: 183px;
      width: 183px;
      padding-top: 53px;
    }
  }
  &.playing {
    .wrapper {
      .playlist {
        background: $main;
        .wrapper {
          .scroll {
            &::-webkit-scrollbar-thumb {
              background-color: $third;
            }
          }
        }
      }
      .module {
        .square {
          background: $main;
          .effects {
            .slot {
              background: none;
            }
          }
          .circle {
            background: $background;
          }
        }
        .panel {
          background: none;
          > div {
            &:hover, &:active {
              background: none;
            }
            &.pressed {
              background: #151d31;
            }
          }
        }
      }
    }
    .effect {
      .content {
        background: $main;
      }
    }
  }
}
