@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');

$background: #22304e;
$header-background: #fff;
$main: #17233a;
$border-color: #ebebf4;
$hover: #f0f0f6;
$button-color: #fff;

$tip-button-color: #43b79e;
$tip-button-border-color: #CCE6DF;

$light-text: #666;
$medium-light-text: #444;

$header-padding: 14px;
$header-font-size: 18px;

$song-position-height: 12px;

$shadow-color: #0b1e30;

$light-color: #8f98b9;

$main-gradient: linear-gradient(to right, #10b98a, #293ca0);

html, body {
  background: $background;
  color: #fff;
  font: 19px 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

#root {
  margin: auto;
  padding: 0 0 40px 0;
}

main {
  margin: auto;
  padding: 0 18px;
  max-width: 1100px;
}

.sidebar {
  background: $main;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 80px 0 32px;
  li {
    font-size: 20px;
    padding: 8px 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  padding: 0 3px;
}

.selected {
  background: #f13232;
  color: #fff;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 4px;
  margin: 4px 0;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
}

.dot-separator {
  display: inline;
  margin: 0 5px;
  &:before {
    content: '·';
  }
}

button {
  cursor: pointer;
}

input, textarea {
  display: block;
}

label {
  input {
    display: inline;
  }
}

button, input, textarea, select {
  font: inherit;
  box-sizing: border-box;
  font-size: 13px;
  margin: 14px 0;
  padding: 10px;
  outline: none;
  background: $button-color;
  border-radius: 3px;
  border: 1px solid $border-color - rgb(20,20,20);
  color: #b0b0ca - rgb(20,20,20);
  width: 100%;
  &:hover {
    color: #b0b0ca - rgb(30,30,30);
    border-color: $border-color - rgb(30,30,30);
  }
  &:focus:not(button) {
    color: $light-text;
    border-color: $border-color - rgb(50,50,50);
  }
}

.song-position {
  height: $song-position-height;
  padding: 4px;
  margin: 24px 0;
  .bar {
    background: #2b3854;
    box-shadow: 0 0 8px $shadow-color;
    position: relative;
    border-radius: 2px;
    overflow: hidden;
    &, .position {
      height: $song-position-height;
    }
    .position {
      border-radius: 4px;
      background: #4e516f;
      width: 400px;
    }
  }
  &:hover {
    .bar, .position {
      height: $song-position-height + 6px;
    }
    .position {
      background: $light-color;
      background: $main-gradient;
    }
    .bar {
      top: -3px;
    }
  }
}

.modules {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  .wrapper {
    &.open {
      position: relative;
      width: 100%;
      .playlist {
        box-shadow: 0 0 8px $shadow-color;
        position: absolute;
        border-radius: 4px;
        margin: 12px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: #2b3854;
      }
      .module {
        float: left;
      }
    }
  }
  .module, .create {
    cursor: default;
    margin: 12px;
    text-align: center;
    background: $main;
    overflow: hidden;
    box-shadow: 0 0 8px $shadow-color;
    border-radius: 4px;
    padding-left: 3px;
    position: relative;
    h1 {
      font-size: .9em;
      margin: 0 0 10px 0;
    }
    .volume {
      position: absolute;
      left: 0;
      right: 4px;
      bottom: 0;
      background: $main-gradient;
      height: 70px;
      border-radius: 4px;
      z-index: 0;
    }
    .square {
      box-sizing: border-box;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      background: #2b3854;
      height: 184px;
      width: 184px;
      padding: 12px;
      .effects {
        > div {
          font-size: 0.6em;
          padding: 8px;
          margin: 3px;
          width: 18px;
          height: 18px;
          border-radius: 2px;
          background: $main;
          float: left;
          &:hover {
            transform: scale(1.05);
          }
        }
      }
    }
    &:hover {
      transform: scale(1.05);
      padding-left: 10px;
      margin-left:  5px;
      .volume {
        border-radius: 2px 4px 4px 4px;
        background: $light-color;
        background: $main-gradient;
      }
    }
  }
  .create {
    background: $main;
    font-size: 3em;
    color: $main;
    &::before {
      content: '+';
      background: #2b3854;
      background: $main-gradient;
      box-sizing: border-box;
      display: block;
      position: relative;
      z-index: 1;
      border-radius: 4px;
      height: 184px;
      width: 184px;
      padding-top: 53px;
    }
  }
}